a {
	color: #262526;
    text-decoration: none;
}

body {
    background-color: #384d59;
	margin: 0% 10% 0% 10%;
	padding: 0% 0% 0% 0%;
}

.boton_prin {
    background-color: #C2F2BB;
	border-radius: 50px;
	border: none;
	color: #262526;

	font-size: 24px;
    font-family: font2;
	margin: 72px 400px;
	padding: 16px;

	text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.contenedor_form {
    background-color: #D6F2CE;
    border-radius: 10px;
    margin: 50px 150px 50px 150px;
    padding: 10px;
}

.enlaceslistas {
	background-color: #224573;
	border: 3px solid #f2f2f2;
	border-radius: 200px;
	color: #f2f2f2;

	font-size: 24px;
    font-family: font2;
	margin: 0% 5% 0% 0%;
	padding: 5% 5% 5% 5%;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}  

.enlacesform {
	background-color: #224573;
	border: 3px solid #f2f2f2;
	border-radius: 200px;
	color: #f2f2f2;

	font-size: 24px;
    font-family: font2;
	margin: 0% 5% 0% 0%;
	padding: 5% 5% 5% 5%;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.enlacesnoentrar {
	background-color: #224573;
	border-radius: 200px;
	border: 3px dashed #f2f2f2;
	color: #f2f2f2;

	font-size: 24px;
    font-family: font2;
	margin: 0% 0% 0% 0%;
	padding: 5% 5% 5% 5%;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}


.formulario {
    background-color: #8DA686;
    border: none;
	border-radius: 10px;
	margin: 0px 50px 0px 50px;
	
	padding: 1%;
	text-align: center;
}

.formulario_input {
	border-radius: 5px;
	border: none;
	font-size: 16px;
	margin: 12px 600px 12px 240px;
    
	padding: 15px 0 15px 0;
    text-align: center;
}

.formu_submit {
    background-color: #C2F2BB;
	border: none;
    border-radius: 5px;
    color: #262526;
    
	font-size: 24px;
	margin: 12px 600px 12px 290px;
    padding: 12px 24px;
}

.formulariotitulo {
	background-color: #D6F2CE;
	border-radius: 200px;
	color:#262526;
    font-family: font1;
	
	font-size: 42px;
    letter-spacing: 12px;
    margin: 10% 7% 7% 7%;
	padding: 0 3% 0 3%;
	
	text-align: center;
	text-transform: uppercase;
}

h1 {
	color: #384d59 ;
	font-size: 48px;
	font-family: font1;
	letter-spacing: 70%;

	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
    text-transform: uppercase;
}

h2 { 
	color: #384d59 ;
	font-size: 16px;
	font-family: font2;
	height: 100%;

	letter-spacing: 10px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;

    text-transform: uppercase;
	width: 100%;
}

h3 {
    background-color: #8DA686;
	border-radius: 10px;
    color: #384D59;
	font-family: font2;
    
	font-size: 27px;
    letter-spacing: 8px;
	margin: 72px 115px;
    text-align: center;
}

li {
	font-size: 32px;
    line-height: 72px;
    margin: 32px;
}

.lista_enlaces {
	background-color: #224573;
	border-radius: 200px;
    margin: 12% 3% 12% 3%;
	text-align: center;
}

ol {
    background-color: #f2f2f2;
    border-radius: 10px;
	margin: 10% 18% 10% 18%;
	padding: 5% 5% 5% 5%;
}

ul {
    background-color: #C2F2BB;
    border-radius: 10px;
	margin: 72px 350px;
    padding: 24px;
}

.parrafoprin {
	background-color: #f2f2f2;
	border-radius: 0px 20px 0px 20px;
	border-top: 5px solid #224573;
	border-left: 5px solid #224573;

	color:#384d59;
	font-size: 24px;
	font-family: font2;
	margin: 0% 18% 0% 18%;

	padding: 1% 1% 1% 1%;
	text-align: center;
}

.primeritemol {
	text-align: center;
}

.subtitulolistas {
	background-color: #f2f2f2;
	border-radius: 200px;
	margin: 3% 18% 3% 18%;
	padding: 0 0 0 0;

	border: 1px solid #224573;
}

.subtituloprog {
	background-color: #f2f2f2;
	border-radius: 200px 200px 200px 200px;
	border-bottom: 7px solid #224573;
	margin: 3% 18% 3% 18%;

	padding: 0 0 0 0;
}

.titulolistas {
	background-color: #f2f2f2;
	border-radius: 200px;
	border-bottom: 3px solid #f2f2f2;
    margin: 3% 10% 3% 10%;
	padding: 3% 3% 3% 3%;
}

.tituloprog {
	background-color: #f2f2f2;
	border-radius: 200px 0px 200px 0px;
	border-bottom: 5px solid #bebfb4;
	border-left: 5px solid #bebfb4;

	box-sizing: border-box;
    margin: 3% 10% 3% 10%;
	padding: 3% 3% 3% 3%;
}

.turbobaba{
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 500px;
} 
