body {
	background-attachment: fixed;
    background-color: #384d59;
	background-image: radial-gradient(transparent 25%, #000a), url("https://revistabyte.es/wp-content/uploads/2020/02/10-libros-para-aprender-a-programar.jpg");
	background-size: cover;

	background-position: center;
	margin: 15% 10% 0 10%;
	padding: 0;
}

.boton_prin {
    background-color: #224573;
	border: 3px solid #f2f2f2;
	border-radius: 200px;
	box-sizing: border-box;
	box-shadow: #262526 4px 4px 8px;

	color: #f2f2f2;
	font-size: 24px;
	letter-spacing: 12px;
	text-align: center;
	font-family: font2;
	border-radius: 10px;
	margin: 72px 115px;
}

h3 {
	background-color: #8DA686;
	color: #262526;
	font-size: 27px;
	letter-spacing: 8px;
	text-align: center;
	font-family: font2;
	border-radius: 10px;
	margin: 72px 115px;
}

li {
	text-align: center;
	line-height: 72px;
	font-size: 32px;
	margin: 32px;
}

ol {
	background-color: #C2F2BB;
	border-radius: 10px;
	line-height: 72px;
	padding: 12px;
	margin: 72px 350px;
}

ul {
	background-color: #C2F2BB;
	border-radius: 10px;
	padding: 24px;
	margin: 72px 350px;
}
p {
	text-align: center;
	font-size: 31px;
	background-color: #8DA686;
	font-family: font2;
	color:#262526;
	border-radius: 10px;
	margin: 72px 115px ;
}

.formulario {
	background-color: #8DA686;
	text-align: center;
	padding: 1%;
	border-radius: 10px;
	border: none;
	margin: 0px 50px 0px 50px;
}

.formulario_input {
	padding: 15px 0 15px 0;
	margin: 15px;
	border-radius: 5px;
	font-size: 16px;
	border: none;
	margin: 12px 600px 12px 240px;
	text-align: center;
}

.formu_submit {
	background-color: #C2F2BB;
	color: #262526;
	font-size: 24px;
	padding: 12px 24px;
	border: none;
	border-radius: 5px;
	margin: 12px 600px 12px 290px;
}

.boton_prin {
	text-transform: uppercase;
	color: #262526;
	font-size: 24px;
	font-family: font2;
	background-color: #C2F2BB;
	padding: 16px;
	border-radius: 10px;
	text-align: center;
	margin: 72px 400px;
	text-decoration: none;
	border: none;
}

.turbobaba {
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.enlaces {
	text-decoration: none;
	text-transform: uppercase;
	color: #262526;
	font-size: 24px;
	font-family: font2;
	background-color: #8DA686;
	padding: 12px;
	border-radius: 10px;
	text-align: center;
	margin: 310px 0px 0px 90px;
}

a {
	text-decoration: none;
	color: #262526;
}

.lista_enlaces {
	margin: 100px 115px 100px 115px;
	padding: 15px;
	border-radius: 10px;
	background-color: #C2F2BB;
}

.contenedor_form {
	background-color: #D6F2CE;
	border-radius: 10px;
	margin: 50px 150px 50px 150px;
	padding: 10px;
}

.formulario_input2 {
	padding: 15px 0 15px 0;
	border-radius: 5px;
	font-size: 16px;
	border: none;
	margin: 12px 600px 12px 274px;
	text-align: center;
}

.formu_submit2 {
	background-color: #C2F2BB;
	color: #262526;
	font-size: 24px;
	padding: 12px 24px;
	border: none;
	border-radius: 5px;
	margin: 12px 600px 12px 280px;
}

.enlaces2 {
	text-decoration: none;
	text-transform: uppercase;
	color: #D6F2CE;
	font-size: 24px;
	font-family: font2;
	background-color: #6e2737;
	padding: 12px;
	border-radius: 10px;
	text-align: center;
	margin: 310px 0px 0px 90px;
}
