body {
    background-color: #4D594A;
}
h1 {
    background-color: #D6F2CE;
    font-family: font1;
    text-align: center;
    color:#262526;
    letter-spacing: 16px;
    font-size: 84px;
    text-transform: uppercase;
    padding: 32px;
    border-radius: 10px;
}
h2 {
    background-color: #8DA686;
    color: #262526;
    font-size: 24px;
    letter-spacing: 12px;
    text-align: center;
    font-family: font2;
    border-radius: 10px;
}
h3 {
    background-color: #8DA686;
    color: #262526;
    font-size: 27px;
    letter-spacing: 8px;
    text-align: center;
    font-family: font2;
    border-radius: 10px;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: #262526;
    font-size: 48px;
    font-family: font2;
    background-color: #D6F2CE;
    padding: 12px;
    border-radius: 10px;
}

p{
    text-align: center;
    font-size: 31px;
    background-color: #8DA686;
    font-family: font2;
    color:#262526;
}

li{
    text-align: center;
    list-style: none;
    line-height: 96px;
    font-size: 32px;
}
p{
    text-align: center;
    font-size: 31px;
    background-color: #8DA686;
    font-family: font2;
    color:#262526;
    border-radius: 10px;
}
.formulario {
    background-color: #8DA686;
    text-align: center;
    padding: 64px 64px;
    border-radius: 10px;
    border: none;
}
.formulario_input {
    padding: 12px 0 12px 0;
    margin: 8px;
    border-radius: 5px;
    width: 80%;
    font-size: 16px;
    border: none;
}
.formu_submit {
    background-color: #C2F2BB;
    color: #262526;
    font-size: 24px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;

}
.boton_prin {
    text-decoration: none;
    text-transform: uppercase;
    color: #262526;
    font-size: 32px;
    font-family: font2;
    background-color: #D6F2CE;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
}
.turboabuela {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.secreto{
    font-size: 72px;
    padding: 32px;
}