a {
	color: #262526;
    text-decoration: none;
}

body {
    background-color: #4D594A;
    margin: auto;
}

.boton_prin {
    background-color: #C2F2BB;
	border-radius: 50px;
	border: none;
	color: #262526;

	font-size: 24px;
    font-family: font2;
	margin: 72px 400px;
	padding: 16px;

	text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.contenedor_form {
    background-color: #D6F2CE;
    border-radius: 10px;
    margin: 50px 150px 50px 150px;
    padding: 10px;
}

.enlaces {
	background-color: #8DA686;
	border-radius: 10px;
	color: #262526;
	font-size: 24px;
    font-family: font2;
	margin: 310px 0px 0px 90px;
	padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}  

.enlaces2 {
	background-color: #a04058;
	border-radius: 10px;
	color: #C2F2BB;
	font-size: 24px;
    font-family: font2;
	margin: 310px 0px 0px 90px;
	padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.formulario {
    background-color: #8DA686;
    border: none;
	border-radius: 10px;
	margin: 0px 50px 0px 50px;
	padding: 1%;
	text-align: center;
}

.formulario_input {
	border-radius: 5px;
	border: none;
	font-size: 16px;
	margin: 12px 600px 12px 240px;
    padding: 15px 0 15px 0;
    text-align: center;
}

.formu_submit {
    background-color: #C2F2BB;
	border: none;
    border-radius: 5px;
    color: #262526;
    font-size: 24px;
	margin: 12px 600px 12px 290px;
    padding: 12px 24px;
}

h1 {
    background-color: #D6F2CE;
	border-radius: 10px;
	color:#262526;
    font-family: font1;
	font-size: 84px;
    letter-spacing: 16px;
    margin: 36px 115px;
	padding: 24px;
	text-align: center;
	text-transform: uppercase;
}

h2 {
    background-color: #8DA686;
	border-radius: 10px;
    color: #262526;
    font-size: 24px;
    font-family: font2;
	letter-spacing: 12px;
    margin: 72px 115px;
	text-align: center;
}

h3 {
    background-color: #8DA686;
	border-radius: 10px;
    color: #262526;
	font-family: font2;
    font-size: 27px;
    letter-spacing: 8px;
	margin: 72px 115px;
    text-align: center;
}

li {
	font-size: 32px;
    line-height: 72px;
    margin: 32px;
}

.lista_enlaces {
	background-color: #C2F2BB;
	border-radius: 10px;
    margin: 100px 115px 100px 115px;
    padding: 15px;
}

ol {
    background-color: #C2F2BB;
    border-radius: 10px;
    line-height: 72px;
	margin: 72px 350px;
    padding: 12px;

}

ul {
    background-color: #C2F2BB;
    border-radius: 10px;
	margin: 72px 350px;
    padding: 24px;
}

p {
	background-color: #8DA686;
	border-radius: 10px;
	color:#262526;
	font-size: 31px;
    font-family: font2;
	margin: 72px 115px;
	text-align: center;
}

.turbobaba{
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 500px;
} 
